<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  
  <title>Home</title>
</head>
<body>
  <div class="container-float">
    <!-- Navbar -->
    <div class="position-absolute" style="top:5%; left:5%;">
      <p class="d-inline">
        <a href="#" class="me-3 fs-7 text-blue fw-bold">Home</a>
      </p>
      <a href="#" class="ms-5 me-3 text-decoration-none fs-7 text-blue fw-bold">Add Recipe</a>
      <a href="#" class="ms-5 text-decoration-none fs-7 text-blue fw-bold">Profile</a>
    </div>
    <div class="position-absolute" style="top:5%; right:5%;">
      <a href="../index.html">Logout</a>
    </div>

    <!-- Search -->
    <section>
      <div class="row" style="height:768px;">
        <div class="col d-flex flex-column justify-content-center">
          <div class="ms-6">
            <div class="words">
              <p class="text-blue fw-bold lh-sm" style="font-size:52px; width:400px;">Discover Recipe & Delicious Food</p>
            </div>
            <div class="search mt-4">
              <form class="d-flex" role="search">
                <input class="form-control w-50 py-3 px-4" type="search" placeholder="Search Restaurant, Food" aria-label="Search">
              </form>
            </div>
          </div>        
        </div>

        <div class="col-3 bg-yellow">
          <div class="position-absolute" style="top:20%; left:57%;">
            <img src="../image/landing.svg" width="85%" alt="">
          </div>
        </div>
      </div>  
    </section>

    <!-- Popular For You ! -->
    <section>
      <!-- Judul -->
      <div class="row">
        <div class="col ms-6">
          <h2 class="d-flex flex-column justify-content-center fw-bold ps-3" style="border-left: 20px solid #ffc107; height: 100px;">Popular For You !</h2>
        </div>
        <div class="col-3 bg-yellow" style="height:100px;">
        </div>      
      </div>
      
      <!-- Teks-->
      <div class="row mt-6" style="height:668px;">
        <div class="col-6">
          <div class="ms-6">
            <img src="../image/popular.svg" alt="" width="100%">
            <!-- <div class="position-relative" style="width:500px; height:560px; border: 2px solid #ffc107; border-radius: 10px; bottom: 526px; left: 120px; z-index:-1;"></div> -->
          </div>
        </div>
        
        <div class="col-6">
          <div class="h-100 d-flex flex-column justify-content-center" style="margin-left:170px !important;">
            <h3 class="fw-bold" style="color:#3F3A3A; font-size:40px; width:430px; margin-top:-100px;">Healthy Bone Broth Ramen (Quick & Easy)</h3>
            <h4 class="fs-5 mt-5" style="color:#3F3A3A; width:430px;">Quick + Easy Chiken Bone Broth Ramen-Healthy chicken ramen in a hurry? That's right!</h4>
            <a href="#" class="btn btn-yellow mt-4" style="width: 150px; font-size:0.8rem; padding: 12px 0">Learn more</a>
          </div>          
        </div>      
      </div>
    </section>
    
    <!-- New Recipe -->
    <section>
      <div class="row ms-6">        
        <h2 class="d-flex flex-column justify-content-center fw-bold ps-3" style="border-left: 20px solid #ffc107; height: 100px;">New Recipe</h2>
      </div>

      <div class="row" style="height:768px; margin-top:7rem !important;">      
        <div class="col-6">
          <div class="ms-6">
            <img src="../image/new-recipe.svg" alt="" width="100%">
            <!-- <div class="position-relative" style="width:500px; height:560px; border: 2px solid #ffc107; border-radius: 10px; bottom: 526px; left: 120px; z-index:-1;"></div> -->
          </div>
        </div>
        <div class="col-6">
          <div class="h-100 d-flex flex-column justify-content-center" style="margin-left:170px !important;">
            <h3 class="fw-bold" style="color:#3F3A3A; font-size:40px; width:430px; margin-top:-100px;">Healthy Bone Broth Ramen (Quick & Easy)</h3>
            <h4 class="fs-5 mt-5" style="color:#3F3A3A; width:430px;">Quick + Easy Chiken Bone Broth Ramen-Healthy chicken ramen in a hurry? That's right!</h4>
            <a href="#" class="btn btn-yellow mt-4" style="width: 150px; font-size:0.8rem; padding: 12px 0">Learn more</a>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Popular Recipe -->
    <section>
      <div class="row ms-6">
        <h2 class="d-flex flex-column justify-content-center fw-bold ps-3" style="border-left: 20px solid #ffc107; height: 100px;">Popular Recipe</h2>
      </div>

      <div class="row">
        <div class="col" style="margin: 5rem 6rem !important;">
          <div class="d-flex flex-row flex-wrap justify-content-between gap-5">
            <div class="p-2 size-popular">
              <img src="../image/1.svg" alt="" width="100%">
            </div>
            <div class="p-2 size-popular">
              <img src="../image/2.svg" alt="" width="100%">
            </div>
            <div class="p-2 size-popular">
              <img src="../image/3.svg" alt="" width="100%">
            </div>
            <div class="p-2 size-popular">
              <img src="../image/4.svg" alt="" width="100%">
            </div>
            <div class="p-2 size-popular">
              <img src="../image/5.svg" alt="" width="100%">
            </div>
            <div class="p-2 size-popular">
              <img src="../image/6.svg" alt="" width="100%">
            </div>
          </div>
        </div>        
      </div>
    </section>

    <footer>
      <div class="row bg-yellow" style="height:500px">
        <div class="d-flex flex-column justify-content-center align-items-center" style="height:80%">
          <p style="color:#2E266F; font-size: 52px;">Eat, Cook, Repeat</p>
          <p class="mt-4" style="color:#707070;">Share Your Best Recipe By Uploading Here !</p>
        </div>

        <div class="d-flex flex-row justify-content-center gap-4 ">
          <a href="" class="fs-7" style="color:#707070;">Product</a>
          <a href="" class="fs-7" style="color:#707070;">Company</a>
          <a href="" class="fs-7" style="color:#707070;">Learn More</a>
          <a href="" class="fs-7" style="color:#707070;">Get in Touch</a>
        </div> 
      </div>
         
    </footer>
  </div>
</body>
</html>