<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mama Recipe</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div class="container-float  d-flex flex-row">
    <div class="bg-img w-50">
      <div class="bg-yellow w-100 h-100 opacity-75"></div>
      <div class="position-absolute" style="top:55%; left:20%;">
        <img src="../image/logo.svg" width="70%" alt="">
      </div>
    </div> 

    <div class="form w-50 ">
      <div class="d-flex flex-column justify-content-center  align-items-center">
        <div class="mb-3">
          <p class="text-center text-yellow fs-4 fw-bold mb-3 mt-5">Let's Get Started !</p>
          <p class="text-center text-secondary fs-6 mb-2 ">Create new account to access all features</p>
        </div>
        <div class="form w-50">
          <form class="">
            <div class=" mb-3">
              <label for="exampleInputEmail1" class="form-label mb-1">Name</label>
              <input type="text" class="form-control py-3 px-4 fs-6" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
            </div>
            <div class=" mb-3">
              <label for="exampleInputEmail1" class="form-label mb-1">E-mail</label>
              <input type="email" class="form-control py-3 px-4 fs-6" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email address">
            </div>
            <div class=" mb-3">
              <label for="exampleInputEmail1" class="form-label mb-1">Phone Number</label>
              <input type="number" class="form-control py-3 px-4 fs-6" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="08xxxxxxxxxx">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label mb-1">Create New Password</label>
              <input type="password" class="form-control py-3 px-4 fs-6" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label mb-1">New Password</label>
              <input type="password" class="form-control py-3 px-4 fs-6" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input mt-1" id="exampleCheck1">
              <label class="form-check-label ms-2" for="exampleCheck1">I agree to terms and conditions </label>
            </div>
            <div>
              <button type="submit" class="btn btn-lg form-control btn-yellow text-white fs-6 py-3 mt-3">Register Account</button>
            </div>   
          </form>          
        </div>
        <div class="signup d-flex justify-content-center">
          <p class="text-secondary fs-7 mt-3 mb-5">Already have account? <a href="../index.html" class="text-yellow fw-medium">Log in Here</a></p>
        </div>
      </div>     

    </div>

  </div>
</body>
</html>